node_modules
.next
build
dist
.env
.env.local
.env.*.local
.DS_Store
*.log
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.idea
.vscode
*.swp
*.swo
*~
.cache
coverage
out
.pnpm-debug.log
.env.example